In [1]:
import pandas as pd
import numpy as np

In [2]:
#abrir um csv novo
pokemon_df = pd.read_csv("pokemon.csv")
pokemon_df.head()

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,I,Bulbasaur,Fushigidane,grass,poison,Seed Pokémon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,I,Ivysaur,Fushigisou,grass,poison,Seed Pokémon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,I,Venusaur,Fushigibana,grass,poison,Seed Pokémon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...
3,4,I,Charmander,Hitokage,fire,NaN,Lizard Pokémon,88.14,11.86,0.6,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,It has a preference for hot things. When it ra...
4,5,I,Charmeleon,Lizardo,fire,NaN,Flame Pokémon,88.14,11.86,1.1,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,"It has a barbaric nature. In battle, it whips ..."

In [3]:
pokemon_df.tail()

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
893,894,VIII,Regieleki,Regieleki,electric,NaN,Electron Pokémon,NaN,NaN,1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,This Pokémon is a cluster of electrical energy...
894,895,VIII,Regidrago,Regidrago,dragon,NaN,Dragon Orb Pokémon,NaN,NaN,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,An academic theory proposes that Regidrago’s a...
895,896,VIII,Glastrier,Blizapos,ice,NaN,Wild Horse Pokémon,NaN,NaN,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Glastrier emits intense cold from its hooves. ...
896,897,VIII,Spectrier,Rayspos,ghost,NaN,Swift Horse Pokémon,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,It probes its surroundings with all its senses...
897,898,VIII,Calyrex,Badrex,psychic,grass,King Pokémon,NaN,NaN,1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Calyrex is a merciful Pokémon, capable of prov..."


verifica dados aleatorios

In [4]:
#verifica dados aleatorios
pokemon_df.sample(5)

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
412,413,IV,Wormadam,Minomadam,bug,grass,Bagworm Pokémon,0,100,0.5,...,Female at Level,Wormadam,Male at Level,Mothim,NaN,NaN,NaN,NaN,NaN,Its appearance changes depending on where it e...
630,631,V,Heatmor,Kuitaran,fire,NaN,Anteater Pokémon,50.2,49.8,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,There’s a hole in its tail that allows it to d...
296,297,III,Hariyama,Hariteyama,fighting,NaN,Arm Thrust Pokémon,75.4,24.6,2.3,...,Level,Hariyama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Although they enjoy comparing their strength, ..."
508,509,V,Purrloin,Choroneko,dark,NaN,Devious Pokémon,50.2,49.8,0.4,...,Level,Liepard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,It steals things from people just to amuse its...
887,888,VIII,Zacian,Zacian,fairy,fairy,Warrior Pokémon,NaN,NaN,2.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Known as a legendary hero, this Pokémon absorb..."

In [5]:
#resumo estatistico do dataframe
pokemon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 55 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   national_number     898 non-null    int64
 1   gen                 898 non-null    object
 2   english_name        898 non-null    object
 3   japanese_name       898 non-null    object
 4   primary_type        898 non-null    object
 5   secondary_type      469 non-null    object
 6   classification      898 non-null    object
 7   percent_male        776 non-null    object
 8   percent_female      776 non-null    object
 9   height_m            898 non-null    float64
 10  weight_kg           898 non-null    float64
 11  capture_rate        898 non-null    object
 12  base_egg_steps      898 non-null    int64
 13  hp                  898 non-null    int64
 14  attack              898 non-null    int64
 15  defense             898 non-null    int64
 16  sp_attack           898 non-null    int64
 17  sp_defense          898 non-null    int64
 18  speed               898 non-null    int64
 19  abilities_0         898 non-null    object
 20  abilities_1         495 non-null    object
 21  abilities_2         3 non-null      object
 22  abilities_hidden    763 non-null    object
 23  against_normal      898 non-null    float64
 24  against_fire        898 non-null    float64
 25  against_water       898 non-null    float64
 26  against_electric    898 non-null    float64
 27  against_grass       898 non-null    float64
 28  against_ice         898 non-null    float64
 29  against_fighting    898 non-null    float64
 30  against_poison      898 non-null    float64
 31  against_ground      898 non-null    float64
 32  against_flying      898 non-null    float64
 33  against_psychict    898 non-null    float64
 34  against_bug         898 non-null    float64
 35  against_rock        898 non-null    float64
 36  against_ghost       898 non-null    float64
 37  against_dragon      898 non-null    float64
 38  against_dark        898 non-null    float64
 39  against_steel       898 non-null    float64
 40  against_fairy       898 non-null    float64
 41  is_sublegendary     898 non-null    int64
 42  is_legendary        898 non-null    int64
 43  is_mythical         898 non-null    int64
 44  evochain_0          898 non-null    object
 45  evochain_1          728 non-null    object
 46  evochain_2          728 non-null    object
 47  evochain_3          335 non-null    object
 48  evochain_4          332 non-null    object
 49  evochain_5          19 non-null     object
 50  evochain_6          19 non-null     object
 51  gigantamax          31 non-null     object
 52  mega_evolution      46 non-null     object
 53  mega_evolution_alt  2 non-null      object
 54  description         898 non-null    object
dtypes: float64(20), int64(11), object(24)
memory usage: 386.0+ KB

resumo de informações estatisticos importantes

In [6]:
pokemon_df.describe()

,national_number,height_m,weight_kg,base_egg_steps,hp,attack,defense,sp_attack,sp_defense,speed,...,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy,is_sublegendary,is_legendary,is_mythical
count,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,...,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.00000,898.000000,898.000000,898.000000
mean,449.500000,1.185969,63.970045,7544.587973,69.031180,76.544543,71.886414,69.681514,69.876392,65.949889,...,0.999165,1.245546,0.994432,0.972717,1.057628,0.984131,1.08157,0.050111,0.022272,0.022272
std,259.374568,1.234222,119.430298,7101.313608,26.213707,29.665559,29.536184,29.372609,27.012142,28.456596,...,0.609120,0.702248,0.553163,0.365120,0.441639,0.497022,0.53157,0.218296,0.147648,0.147648
min,1.000000,0.100000,0.100000,1280.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,...,0.250000,0.250000,0.000000,0.000000,0.250000,0.250000,0.25000,0.000000,0.000000,0.000000
25%,225.250000,0.500000,8.500000,5120.000000,50.000000,55.000000,50.000000,46.250000,50.000000,45.000000,...,0.500000,1.000000,1.000000,1.000000,1.000000,0.500000,1.00000,0.000000,0.000000,0.000000
50%,449.500000,1.000000,27.000000,5120.000000,65.000000,75.000000,67.000000,65.000000,65.000000,65.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,0.000000,0.000000,0.000000
75%,673.750000,1.500000,65.000000,6400.000000,80.000000,95.000000,90.000000,90.000000,85.000000,85.000000,...,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.00000,0.000000,0.000000,0.000000
max,898.000000,20.000000,999.900000,30720.000000,255.000000,181.000000,230.000000,173.000000,230.000000,200.000000,...,4.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.00000,1.000000,1.000000,1.000000

In [9]:
 #linhas e colunas
linhas, colunas = pokemon_df.shape
print(f"O dataframe tem {linhas} linhas e {colunas} colunas")

O dataframe tem 898 linhas e 55 colunas

selecionar subconjunto do dataframe

In [12]:
coluna_tipo= pokemon_df["primary_type"] # selecionar uma coluna especifica (tipo series, um array unidimensional)
coluna_tipo

0         grass
1         grass
2         grass
3          fire
4          fire
         ...
893    electric
894      dragon
895         ice
896       ghost
897     psychic
Name: primary_type, Length: 898, dtype: object

In [16]:
# e se eu quiser o tipo como o nme junto?
name_type_df = pokemon_df[["english_name", "primary_type", "secondary_type"]] #selecionar mais de uma coluna
name_type_df.sample(5)

    english_name primary_type secondary_type
434     Skuntank       poison           dark
731     Trumbeak       normal         flying
660   Fletchling       normal         flying
182       Marill        water          fairy
361       Glalie          ice            NaN

In [18]:

grass_df = pokemon_df[pokemon_df["primary_type"] == "grass"] #selecionar linhas com base em uma condição
grass_df.sample(5)

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
69,70,I,Weepinbell,Utsudon,grass,poison,Flycatcher Pokémon,50,50,1.0,...,Level,Weepinbell,Use Leaf Stone,Victreebel,NaN,NaN,NaN,NaN,NaN,"When hungry, it swallows anything that moves. ..."
331,332,III,Cacturne,Noctus,grass,dark,Scarecrow Pokémon,50,50,1.3,...,Level,Cacturne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"During the daytime, Cacturne remains unmoving ..."
252,253,III,Grovyle,Juptile,grass,NaN,Wood Gecko Pokémon,88.14,11.86,0.9,...,Level,Grovyle,Level,Sceptile,NaN,NaN,NaN,NaN,NaN,The leaves growing out of Grovyle’s body are c...
43,44,I,Gloom,Kusaihana,grass,poison,Weed Pokémon,50.2,49.8,0.8,...,Level,Gloom,Use Leaf Stone,Vileplume,Use Sun Stone,Bellossom,NaN,NaN,NaN,Its pistils exude an incredibly foul odor. The...
469,470,IV,Leafeon,Leafia,grass,NaN,Verdant Pokémon,88.14,11.86,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Galarians favor the distinctive aroma that dri...

In [22]:
#filtrar pokemon fraco contra tipo agua
pokemon_df[["english_name", "against_water", "against_fire", "against_grass"]] #selecionar mais de uma coluna

    english_name  against_water  against_fire  against_grass
0      Bulbasaur            0.5           2.0           0.25
1        Ivysaur            0.5           2.0           0.25
2       Venusaur            0.5           2.0           0.25
3     Charmander            2.0           0.5           0.50
4     Charmeleon            2.0           0.5           0.50
..           ...            ...           ...            ...
893    Regieleki            1.0           1.0           1.00
894    Regidrago            0.5           0.5           0.50
895    Glastrier            1.0           2.0           1.00
896    Spectrier            1.0           1.0           1.00
897      Calyrex            0.5           2.0           0.50

[898 rows x 4 columns]

In [26]:
weak_against_water_df = pokemon_df[pokemon_df["against_water"] > 2] #selecionar linhas com base em uma condição
weak_against_water_df[["english_name", "primary_type", "against_water"]]

    english_name primary_type  against_water
73       Geodude         rock            4.0
74      Graveler         rock            4.0
75         Golem         rock            4.0
94          Onix         rock            4.0
110      Rhyhorn       ground            4.0
111       Rhydon       ground            4.0
218     Magcargo         fire            4.0
245     Larvitar         rock            4.0
246      Pupitar         rock            4.0
321        Numel         fire            4.0
322     Camerupt         fire            4.0
463    Rhyperior       ground            4.0
837       Carkol         rock            4.0
838    Coalossal         rock            4.0

In [ ]:
#filtrar pokémon fraco contra tipo água e terra ao mesmo tempo
weak_against_water_ground_df = pokemon_df[(pokemon_df["against_water"] > 1) & (pokemon_df["against_ground"] > 1)]

weak_against_water_ground_df[["english_name", "primary_type", "against_water", "against_ground"]]